## Subset Data

The office product amazon review json file contains about 5.1 million rows.  Since we only need a very small subset of data to create our model, it would be more efficient to trim down the original data to conserve system memory.  Loading the full data will take up 15 GB of RAM, thus leaving little room for texts processing and model analysis.

In [1]:
# import library
import json
import pandas as pd
import numpy as np

In [2]:
# load json into pandas dataframe
df = pd.read_json("data/Office_Products.json", lines=True)

In [3]:
# preview data
df.head()

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,3,6,False,"11 3, 2006",A2WJLOXXIB7NF3,0140503528,{'Format:': ' Hardcover'},Brandi D&#039;Angelo,"I thought the book was entertaining and cute, ...",Entertaining-but maybe not for young toddlers,1162512000,NaN
1,5,NaN,False,"05 9, 2006",A1RKICUK0GG6VF,0140503528,{'Format:': ' Hardcover'},Karen Mallory,This adorable story is an all time favorite fa...,adorable!,1147132800,NaN
2,5,NaN,False,"03 11, 2006",A1QA5E50M398VW,0140503528,{'Format:': ' Paperback'},Jennifer Edwards,Lisa's bear Corduroy gets lost in the laundrom...,A sequel to the classic,1142035200,NaN
3,5,12,False,"01 24, 2001",A3N0HBW8IP8CZQ,0140503528,{'Format:': ' Paperback'},Melissa P. Cooper,In this installment of Corduroy's adventures w...,More adventures with Lisa's very own bear. . .,980294400,NaN
4,5,65,False,"07 30, 2000",A1K1JW1C5CUSUZ,0140503528,{'Format:': ' Paperback'},Donald Mitchell,Researchers constantly find that reading to ch...,Read to Your Child to Create Bonding and Intel...,964915200,NaN

In [4]:
# number of office products and rows in dataframe
print(f'Number of office product: {len(df.asin.value_counts())}')
print('\n')
print(f'Number of rows in dataframe: {len(df)}')

Number of office product: 306800


Number of rows in dataframe: 5581313

In [5]:
# drop irrelevant columns
df_trim = df[['asin', 'overall', 'reviewText', 'summary']]
df_trim.head()

,asin,overall,reviewText,summary
0,0140503528,3,"I thought the book was entertaining and cute, ...",Entertaining-but maybe not for young toddlers
1,0140503528,5,This adorable story is an all time favorite fa...,adorable!
2,0140503528,5,Lisa's bear Corduroy gets lost in the laundrom...,A sequel to the classic
3,0140503528,5,In this installment of Corduroy's adventures w...,More adventures with Lisa's very own bear. . .
4,0140503528,5,Researchers constantly find that reading to ch...,Read to Your Child to Create Bonding and Intel...

In [6]:
# group data by asin and get count on reviews
asin_gp = df_trim.groupby('asin')['reviewText'].count()

In [7]:
# get asin where review count is greater than 100
asin_no = []
for ind in asin_gp.index:
    if asin_gp[ind] > 100:
        asin_no.append(ind)

print(f'Number of asin with more than 100 reviews: {len(asin_no)}')

Number of asin with more than 100 reviews: 9641

In [8]:
# filter out asin where review count is less than 100
df_subset = (df_trim.loc[df_trim['asin'].isin(asin_no)]).copy()

In [9]:
df_subset.shape

(3459864, 4)

In [10]:
# combine reviewText and summary into one column
df_subset['review'] = df_subset['reviewText'] + ' ' + df_subset['summary']

In [11]:
# drop reviewText and summary column
df_subset.drop(columns=['reviewText', 'summary'], inplace=True)

In [59]:
# set range to extract data
review_range = range(500, 3500, 500)
for i in review_range:
    # export the top review asin in the defined range
    if i < 3000:
        asin = (df_subset.asin.value_counts().reset_index(name='count')
                .query(f'count < {i}')['index']).tolist()[0]
        tmp = df_subset[df_subset['asin'] == asin]
        tmp.to_csv(f'data/off_{i}.csv')
    else:
        asin = (df_subset.asin.value_counts().reset_index(name='count')
                .query('count > 3000')['index']).tolist()[0:20]
        tmp = df_subset.loc[df_subset['asin'].isin(asin)]
        tmp.to_csv(f'data/off_gt_{i}.csv')

In [15]:
(df_subset.iloc[0:500000]).to_csv('data/off_500K.csv')